@import 'src/assets/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  text-transform: uppercase;
  color: $black;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  display: inline-block;

  @media (max-width: $mobile) {
    font-size: 24px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $accent;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  max-width: 1500px;
}

.carousel-container {
  display: grid;
  place-items: center;
  position: relative;
  height: 60vh;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: transparent !important;
}

.carousel-item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item.next {
  animation: slideNext 0.5s ease-in-out;
}

.carousel-item.prev {
  animation: slidePrev 0.5s ease-in-out;
}

@keyframes slideNext {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slidePrev {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-navigation:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.carousel-prev {
  border-radius: 15px;
  left: 10px;
}

.carousel-next {
  border-radius: 15px;
  right: 10px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
